{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'human/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

    <ul id="main-button">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'create' %}">Create</a></li>
    <li><a href="{% url 'index' %}">Person</a></li>
        <p class="line"></p>
        {% block content %}
        {% endblock %}
</body>
</html>
